body {
	margin: 0%;
}

/* Convenience Links*/

.convinience {
	margin: 1.5% 3% 3% 3%;
}
.convinience-links {
	height: 350px;
	width: 100%;
	float: left;
	text-decoration: none;
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	transform-origin: 50% 50%;
	-webkit-transition-property: transform;
	transition-property: -webkit-transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
	transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
}
.cafe {
	height: 350px;
	width: 49.5%;
	float: left;
	margin-bottom: 4px;
	background-image: url("../Images/food.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: solid rgba(128, 128, 128, 0.5) 2px;
	transition-property: filter, -webkit-filter;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
	transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
}
.cafe .tag-name {
	color: white;
	font-size: 3.6em;
	font-family: sans-serif;
	/*TODO : find a better font for this */
	position: fixed;
	display: inline-block;
	margin-top: 22.5%;
	margin-left: 32.5%;
	border: 2px solid white;
	padding: 8px 10px 0px 10px;
}
.Stores {
	height: 350px;
	width: 49.5%;
	float: right;
	margin-bottom: 4px;
	background-image: url("../Images/store.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: solid rgba(128, 128, 128, 0.5) 2px;
	transition-property: filter, -webkit-filter;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
	transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
}
.Stores .tag-name {
	color: white;
	font-size: 3.5em;
	font-family: sans-serif;
	/*TODO : find a better font for this */
	position: fixed;
	display: inline-block;
	margin-top: 22.5%;
	margin-left: 30%;
	border: 2px solid white;
	padding: 8px 10px 0px 10px;
}
.ATM {
	height: 350px;
	width: 49.5%;
	float: right;
	margin-bottom: 4px;
	background-image: url("../Images/atm.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: solid rgba(128, 128, 128, 0.5) 2px;
	transition-property: filter, -webkit-filter;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
	transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
}
.ATM .tag-name {
	color: white;
	font-size: 3.5em;
	font-family: sans-serif;
	/*TODO : find a better font for this */
	position: fixed;
	display: inline-block;
	margin-top: 22.5%;
	margin-left: 37.5%;
	border: 2px solid white;
	padding: 8px 10px 0px 10px;
}
.Transportation {
	height: 350px;
	width: 49.5%;
	float: left;
	margin-bottom: 4px;
	background-image: url("../Images/transportation.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: solid rgba(128, 128, 128, 0.5) 2px;
	transition-property: filter, -webkit-filter;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
	transition-timing-function: cubic-bezier(0.35, 0.24, 1, 0.88);
}
.Transportation .tag-name {
	color: white;
	font-size: 3em;
	font-family: sans-serif;
	/*TODO : find a better font for this */
	position: fixed;
	display: inline-block;
	margin-top: 22.5%;
	margin-left: 16.5%;
	border: 2px solid white;
	padding: 8px 10px 0px 10px;
}
.cafe:hover, .Stores:hover, .ATM:hover, .Transportation:hover {
	position: relative;
	z-index: 10;
	-webkit-filter: none;
	filter: none;
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.05, 1.05, 1.05);
	border: 2px solid black;
}
.space {
	height: 15px;
	width: 100%;
	float: left;
}

/*media queries*/
@media screen and (max-width: 1135px) {
	.Transportation .tag-name {
		margin-top: 22.5%;
		margin-left: 8.5%;
	}
}

@media screen and (max-width: 1080px) {
	.convinience {
		margin: 1% 0% 0% 0%;
	}
	.cafe {
		height: 350px;
		width: 100%;
		float: left;
	}
	.cafe .tag-name {
		margin-top: 13.25%;
		margin-left: 40%;
	}
	.Stores {
		height: 350px;
		width: 100%;
		float: left;
	}
	.Stores .tag-name {
		margin-top: 13.25%;
		margin-left: 35%;
	}
	.ATM {
		height: 350px;
		width: 100%;
		float: left;
	}
	.ATM .tag-name {
		margin-top: 13.25%;
		margin-left: 40%;
	}
	.Transportation {
		height: 350px;
		width: 100%;
		float: left;
	}
	.Transportation .tag-name {
		margin-top: 13.25%;
		margin-left: 30%;
	}
	.cafe:hover, .Stores:hover, .ATM:hover, .Transportation:hover {
		-webkit-filter: none;
		filter: none;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		border: 2px solid black;
	}
}
@media screen and (max-width: 680px) {
	.Transportation .tag-name {
		margin-top: 20%;
		margin-left: 20%;
	}
}
@media screen and (max-width: 580px) {
	.cafe .tag-name {
		margin-top: 20%;
		margin-left: 35%;
	}
	.Stores .tag-name {
		margin-top: 20%;
		margin-left: 30%;
	}
	.ATM .tag-name {
		margin-top: 20%;
		margin-left: 35%;
	}
	.Transportation .tag-name {
		margin-top: 22.5%;
		margin-left: 15%;
	}
}
@media screen and (max-width: 480px) {
	.Transportation .tag-name {
		margin-top: 22.5%;
		margin-left: 3.5%;
	}
}
