<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-sacle=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="../CSS/Navbar.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="../JS/navbar.js" type="text/javascript"></script>
	<script src="../JS/footer.js" type="text/javascript"></script>
	<script src="../JS/floatingNav.js" type="text/javascript"></script>
  <style>
  body{
    margin: 0px;
    padding: 0px;
  }
  .footer{
    margin-top: 200px;
  }
  </style>
</head>

<body>
  <div class="floating-nav" style="display: none;">
    <ul id="floating-nav"></ul>
  </div>
  <div id="navbar" class="project-navbar"></div>
  <div class="links">
    <ul>
      <li><a href="./index.html">HOME</a></li>
        <li><a href=".Convinience.html">CONVENIENCE NEAR NEU</a></li>
          <li><a href=".insideNEU.html">INSIDE NEU</a></li>
          <li><a href=".inquiryform.html">INQUIRY FORMS</a></li>
            <li><a href="./foodmap.html">FOOD</a></li>
              <li><a href="./storemap.html">STORE</a></li>
                <li><a href="./bankmap.html">ATMS</a></li>
                  <li><a href="./tmap.html">TRANSPORTATION</a></li>
                    <li><a href="./officeBuildings.html">OFFICE BUILDINGS</a></li>
                      <li><a href="./AcademicBuildings.html">ACADEMIC BUILDINGS</a></li>
                        <li><a href="./Resendentialbuildings.html">RESENDENTIAL BUILDINGS BUILDINGS</a></li>
                         <li><a href="./RecreationalBuildings.html">RECREATIONAL BUILDINGS</a></li>
                         <li><a href="tel:603-966-9039">CONTACT US</a></li>
                         <li><a href="sms:603-966-9039">SMS</a></li>
                         <li><a href="https://www.facebook.com/northeastern">FACEBOOK</a></li>
                         <li><a href="https://twitter.com/northeastern">TWITTER</a></li>
                         <li><a href="https://www.linkedin.com/company/northeastern-university">LINKEDIN</a></li>
                         <li><a href="http://myneu.neu.edu/cp/home/displaylogin">MY NEU</a></li>
                         <li><a href="../About%20Developer/Views/index.html">ABOUT THE DEVELOPER</a></li>
    </ul>
  </div>
  <div id="footer" class="footer"></div>
</body>

</html>
