html body {
  padding: 0px;
  margin: 0px;
}

button {
  font-family: helvetica,arial,sans-serif;
  padding: 5px 15px;
  float: right;
  margin-right: 20px;
  font-size: 20px;
  background: none;
  border: 1px solid black;
  z-index: 100;
}

button:hover {
  color: white;
  background: black;
  cursor: pointer;
}

#main0 {
  height: 150px;
  background-image: url("../Images/full_tour.jpg");
  width: 500px;
  margin-left: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#main1 {
  height: 150px;
  background-image: url("../Images/auto_tour.jpg");
  width: 500px;
  margin-left: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#main2 {
  height: 150px;
  background-image: url("../Images/custom_tour.jpg");
  width: 500px;
  margin-left: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#content {
  float: right;
  margin-top: -500px;
  padding-right: 20px;
}

#main1:hover,
#main2:hover,
#main0:hover {
  position: relative;
  z-index: 10;
  -webkit-filter: none;
  filter: none;
  cursor: pointer;
}

#main0 .tag-name {
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  display: inline-block;
  margin-top: 3.5%;
  margin-left: 6.5%;
  border: 2px solid white;
  padding: 8px 10px 0px 10px;
}

#main1 .tag-name {
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  display: inline-block;
  margin-top: 3.5%;
  margin-left: 6.5%;
  border: 2px solid white;
  padding: 8px 10px 0px 10px;
}

#main2 .tag-name {
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  display: inline-block;
  margin-top: 3.5%;
  margin-left: 6.5%;
  border: 2px solid white;
  padding: 8px 10px 0px 10px;
}

#div1 {
  width: 600px;
  height: 250px;
  display: none;
  background-image: url("../Images/dorm_tour.jpg");
  z-index: 1;
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.8);
}

#div1 .tag-name {
  color: white;
  font-size: 1.8em;
  font-family: sans-serif;
  display: inline-block;
  margin-top: 3.5%;
  margin-left: 6.5%;
  border: 2px solid white;
  padding: 8px 10px 0px 10px;
}

#div2 {
  width: 600px;
  height: 250px;
  display: none;
  background-image: url("../Images/recreational_tour.jpg");
  margin-top: -120px;
  z-index: 10;
  box-shadow: 0px -5px 3px 0px rgba(0, 0, 0, 0.6);
}

#div2 .tag-name {
  color: white;
  font-size: 1.75em;
  font-family: sans-serif;
  display: inline-block;
  margin-top: 3.5%;
  margin-left: 6.5%;
  border: 2px solid white;
  padding: 8px 10px 0px 10px;
}

#div3 {
  width: 600px;
  height: 180px;
  display: none;
  background-image: url("../Images/office_building.jpg");
  margin-top: -120px;
  z-index: 11;
  box-shadow: 0px -5px 3px 0px rgba(0, 0, 0, 0.6);
}

#div3 .tag-name {
  color: white;
  font-size: 1.8em;
  font-family: sans-serif;
  display: inline-block;
  margin-top: 3.5%;
  margin-left: 6.5%;
  border: 2px solid white;
  padding: 8px 10px 0px 10px;
}

#div1:hover {
  margin-top: -20px;
  padding-bottom: 40px;
  cursor: pointer;
}

#div2:hover,
#div3:hover {
  margin-top: -140px;
  padding-bottom: 40px;
  cursor: pointer;
}

#div4 .tag-name {
  color: rgba(0,0,0,0.5);
  font-size: 2em;
  font-family: sans-serif;
  display: inline-block;
  margin-top: 3.5%;
  margin-left: 10%;
  margin-bottom: 10px;
  border: 2px solid rgba(0,0,0,0.5);
  padding: 8px 20px 8px 20px;
}

#div4 {
  width: 600px;
  height: auto;
  display: none;
  z-index: 10;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.6);
  padding-bottom: 15px;
  background: rgba(0,0,0,0);
  overflow: hidden;
}

.customizeOptions .checkboxSlider {
  display: inline-block;
  width: 50px;
  height: 10px;
  top: 7px;
  background: #333;
  margin: 10px 25px;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.customizeOptions .checkboxSlider label {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -3px;
  left: -3px;
  cursor: pointer;
  background: #fcfff4;
  background: linear-gradient(to bottom, red 0%, red 40%, red 100%);
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.customizeOptions .checkboxSlider input[type=checkbox] {
  visibility: hidden;
}

.customizeOptions .checkboxSlider input[type=checkbox]:checked + label {
  left: 37px;
  background: rgba(53,222,53,1);
}

.customizeOptions .slideName {
  display: inline;
  padding-left: 20px;
  font-family: helvetica, sans-serif;
}
@media screen and (max-width: 1135px) {
  #content{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 580px) {
  #div1,#div2,#div3,#div4,#main0,#main1,#main2{
    width: 450px;
  }

}
@media screen and (max-width: 480px) {
  #div1,#div2,#div3,#div4,#main0,#main1,#main2{
    width: 350px;
  }
}
