html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 100%;
}

#panel {
  font-family: Helvetica, sans-serif;
  color: white;
  float: left;
  position: absolute;
  z-index: 2;
  height: 100%;
  padding: 0px 15px;
  background: rgba(0, 0, 0, 0.8);
  /*rgba(204, 0, 0, 1);*/
  left: -430px;
  width: 400px;
  box-shadow: 3px 0px 2.5px rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}
#panel::-webkit-scrollbar {
  width: 5px;
}
#panel::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}
#panel::-webkit-scrollbar-thumb {
  background-color: rgba(256, 256, 256, 0.5);
  height: 100px;
}
.adp-directions, .adp-summary {
  color: white;
}
#panel .adp .adp-placemark {
  background: rgba(0, 0, 0, 0.8);
}
#panel .adp-placemark td {
  color: white;
  background: rgba(0, 0, 0, 0.8);
}
#panel tbody {
  background: rgba(0, 0, 0, 0);
}
td {
  color: white;
}
table {
  background: rgba(0,0,0,0.8);
}
@media print {
  #map {
    height: 500px;
    margin: 0;
  }
  #panel {
    float: none;
    width: auto;
    height: 500%;
    display: block;
    overflow-y: visible !important;
  }
}
